apiVersion: v1
kind: Service
metadata:
  name: django-service
  namespace: devsecops
  labels:
    app: django-demo
spec:
  type: NodePort
  selector:
    app: django-demo
  ports:
    - name: http
      port: 80
      targetPort: 8080
      nodePort: 30080
